<%= form_for(@baobiao) do |f| %>
  <% if @baobiao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baobiao.errors.count, "error") %> prohibited this baobiao from being saved:</h2>

      <ul>
      <% @baobiao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
