<div class="btn-group btn-group-justified new-panel">
  <%= link_to '收支统计', table_path,:class=>"btn btn-primary" %>
  <%= link_to '年度报表', yeartable_path,:class=>"btn btn-primary" %>
  <a href="#" class="btn btn-primary active">对账单</a>
</div>

<div class="panel panel-default new-panel">
  <div class="panel-heading">
    <select id="selyear"></select>

    <a id="month-left" class="a-left" href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a>
    <p id="selmonth"></p>
    <a id="month-right" href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

    <a id="local-year" class="btn btn-default btn-xs a-left">本年</a>
    <a id="local-season" class="btn btn-default btn-xs">本季</a>
    <!-- <a href="#" id="time-range" class="btn btn-default btn-xs">时间范围</a> -->
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
  <tr id='sel-items'>
    <th>记录日期</th>
    <th>支出</th>
    <th>收入</th>
    <th>用途</th>
    <th>说明</th>
  </tr>
</table>
  </div>
</div>

  <script type="text/javascript">
  $(document).on('ready',function(){
    //生成年
    var nowyear = moment().format('YYYY');
    var lastyear = moment().subtract(1, 'years').format('YYYY');
    var sely='';
    sely = "<option value="+lastyear+">"+lastyear+"</option><option selected='selected' value="+nowyear+">"+nowyear+"</option>"
//选择年
    $('#selyear').html(sely).change(function() {
      var year = $(this).val();
      if(year=='2015'){
        var nowmonth = moment().format('MMM');
        var startdata = moment().startOf('month').format('YYYY-MM-DD');
        var enddata = moment().endOf('month').format('YYYY-MM-DD');
        var num = moment().format('M');
        var selm = '';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+nowmonth+"</a>";
        for(var i=1;i< num;i++){
          var submonth = moment().subtract(i, 'months').format('MMM');
          var substart = moment().startOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          var subend = moment().endOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);
      }
      else{
        var lastmonth = moment().set({'year': 2014,'month':11}).format('MMM');
        var startdata = moment().set({'year': 2014,'month': 11}).startOf('month').format('YYYY-MM-DD');
        var enddata = moment().set({'year': 2014,'month': 11}).endOf('month').format('YYYY-MM-DD');
        var selm='';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+lastmonth+"</a>";
        for(var i=10;i>= 0;i--){
          var submonth = moment().set({'year': 2014,'month':i}).format('MMM');
          var substart = moment().set({'year': 2014,'month':i}).startOf('month').format('YYYY-MM-DD');
          var subend = moment().set({'year': 2014,'month':i}).endOf('month').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);}
    })
//生成月
        var nowmonth = moment().format('MMM');
        var startdata = moment().startOf('month').format('YYYY-MM-DD');
        var enddata = moment().endOf('month').format('YYYY-MM-DD');
        var num = moment().format('M');
        var selm = '';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+nowmonth+"</a>";
        for(var i=1;i< num;i++){
          var submonth = moment().subtract(i, 'months').format('MMM');
          var substart = moment().startOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          var subend = moment().endOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);
        loadAJAX(startdata,enddata);
//生成本季、不年按钮
        var localys = moment().dayOfYear(1).format('YYYY-MM-DD');
        var localye = moment().dayOfYear(365).format('YYYY-MM-DD');
        var localseasons = moment().subtract(2, 'months').startOf('month').format('YYYY-MM-DD');
        var localseasone = moment().endOf('month').format('YYYY-MM-DD');
        $('#local-year').attr({"data-begin":localys,"data-end":localye});
        $('#local-season').attr({"data-begin":localseasons,"data-end":localseasone});
//月份滚动
        $('#month-right').click(function(a) {
              a.preventDefault();
              $('#selmonth').animate( { scrollLeft: '+=33.5' }, 100);
        });
        $('#month-left').click(function(b) {
              b.preventDefault();
              $('#selmonth').animate( { scrollLeft: '-=33.5' }, 100);
        });

        $(document).on('click','a[data-begin]',function(e){
              var $el = $(e.currentTarget);
              var begin = $el.data('begin');
              var end = $el.data('end');
              $('sel-items').remove();
              loadAJAX(begin,end);
          })
          function loadAJAX(begin,end){
              $.ajax({
                url:"/reports/duizhang.json",
                type:"get",
                dataType:"json",
                data: {begin:begin,end:end},
                success:function(result){
                  $('#sel-items').nextAll().remove();
                  var selitem='';
                  if(result){
                    for(var i=0;i< result.length;i++){
                      var time=result[i].time;
                      var way=result[i].way;
                      var ps=result[i].ps;
                      if(result[i].lei=='收入'){
                        var income=result[i].price;
                        selitem="<tr><td>"+time+"</td><td></td><td>"+income+"</td><td>"+way+"</td><td>"+ps+"</td>";
                      }
                      else{
                        var outcome=result[i].price;
                        selitem="<tr><td>"+time+"</td><td>"+outcome+"</td><td></td><td>"+way+"</td><td>"+ps+"</td>";
                      }
                    $('#sel-items').after(selitem);
                    }
                  }
                }
              })
            }
  })
  </script>