<div class="btn-group btn-group-justified new-panel">
  <a href="#" class="btn btn-primary active">收支统计</a>
  <%= link_to '年度报表', yeartable_path,:class=>"btn btn-primary" %>
  <%= link_to '对账单', matchtable_path,:class=>"btn btn-primary" %>
</div>

<div class="panel panel-default new-panel">
  <div class="panel-heading">
    <select id='selyear'></select>

    <a class="a-left" href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a>
    <p id="selmonth"></p>
    <a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

    <a href="#" id="local-year" class="btn btn-default btn-xs a-left">本年</a>
    <a href="#" id="local-season" class="btn btn-default btn-xs">本季</a>
    <a href="#" id="time-range" class="btn btn-default btn-xs">时间范围</a>
  </div>
  <div id="payget" class="panel-body" style="height:400px">
    Panel content
  <script type="text/javascript">
    require.config({
      paths: {
          echarts: './js/dist',
      }
    });
    require(
      [
        'echarts',
        'echarts/chart/pie'
      ],
    function (ec) {
    var myChart = ec.init(document.getElementById('payget'));

    var nowyear = moment().format('YYYY');
    var lastyear = moment().subtract(1, 'years').format('YYYY');
    var sely='';
    sely = "<option value="+lastyear+">"+lastyear+"</option><option selected='selected' value="+nowyear+">"+nowyear+"</option>"
    $('#selyear').html(sely);

    var nowmonth = moment().format('MMM');
    var num=moment().format('M');
    var selm='';
    selm="<a id="+nowmonth+">"+nowmonth+"</a>";
    for(var i=1;i< num;i++){
      var submonth = moment().subtract(i, 'months').format('MMM');
      selm = "<a id="+submonth+">"+submonth+"</a>" + selm;
    }
    $('#selmonth').html(selm);

     options:[
        option1={
          tooltip : {
            trigger: 'them'
          },
          color:['#c476de','#14b8f5','#f424d4','#f4ca24','#ef6e51'],
          legend: {
              orient: 'vertical',
              x:'left',
              y:'top',
              data:['支出','收入']
          },
          toolbox: {
              show : true,
              feature : {
                  dataView : {show: true, readOnly: false},
                  magicType : {show: true, type: ['line', 'bar']},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          series : [
              {
                name:'收支统计',
                type:'pie',
                center: ['50%', '60%'],
                radius: [0, '70%'],
                selectedMode:'single',
                data:[ {value:335, name:'支出'},
                  {value:310, name:'收入'}]
              }
          ]
        },
        option2={
          series: [
          {
            name:'收支统计',
            type:'pie',
            data:[ {value:311, name:'支出'},
              {value:710, name:'收入'}]
          }
        ]
      },
      option3={
          series: [
          {
            name:'收支统计',
            type:'pie',
            data:[ {value:411, name:'支出'},
              {value:710, name:'收入'}]
          }
        ]
      },
      option4={
          series: [
          {
            name:'收支统计',
            type:'pie',
            data:[ {value:311, name:'支出'},
              {value:980, name:'收入'}]
          }
        ]
      },
      option5={
          series: [
          {
            name:'收支统计',
            type:'pie',
            data:[ {value:781, name:'支出'},
              {value:560, name:'收入'}]
          }
        ]
      }
    ]
          myChart.setOption(option1);
          $('#Jan').click(function() {
            myChart.setOption(option1);
          });
          $('#Feb').click(function() {
            myChart.setOption(option2);
          });
          $('#Mar').click(function() {
            myChart.setOption(option3);
          });
          $('#Apr').click(function() {
            myChart.setOption(option4);
          });
          $('#May').click(function() {
            myChart.setOption(option5);
          });
    }
);
</script>
  </div>
</div>
