<div class="btn-group btn-group-justified new-panel">
  <a href="#" class="btn btn-primary active">收支统计</a>
  <%= link_to '年度报表', yeartable_path,:class=>"btn btn-primary" %>
  <%= link_to '对账单', matchtable_path,:class=>"btn btn-primary" %>
</div>

<div class="panel panel-default new-panel">
  <div class="panel-heading">
    <select id='selyear'></select>

    <a id="month-left" class="a-left" href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a>
    <p id="selmonth"></p>
    <a id="month-right" href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

    <a href="#" id="local-year" class="btn btn-default btn-xs a-left">本年</a>
    <a href="#" id="local-season" class="btn btn-default btn-xs">本季</a>
  </div>
  <div id="report-pg" class="panel-body" style="height:400px">
    <input type="radio" value="支出"/>支出
    <input type="radio" value="收入"/>收入
  <script type="text/javascript">
    require.config({
      paths: {
          echarts: './js/dist',
      }
    });
    require(
      [
        'echarts',
        'echarts/chart/pie'
      ],
    function (ec) {
    var myChart = ec.init(document.getElementById('report-pg'));

//生成年
    var nowyear = moment().format('YYYY');
    var lastyear = moment().subtract(1, 'years').format('YYYY');
    var sely='';
    sely = "<option value="+lastyear+">"+lastyear+"</option><option selected='selected' value="+nowyear+">"+nowyear+"</option>"
//选择年
    $('#selyear').html(sely).change(function() {
      var year = $(this).val();
      if(year=='2015'){
        var nowmonth = moment().format('MMM');
        var startdata = moment().startOf('month').format('YYYY-MM-DD');
        var enddata = moment().endOf('month').format('YYYY-MM-DD');
        var num = moment().format('M');
        var selm = '';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+nowmonth+"</a>";
        for(var i=1;i< num;i++){
          var submonth = moment().subtract(i, 'months').format('MMM');
          var substart = moment().startOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          var subend = moment().endOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);
      }
      else{
        var lastmonth = moment().set({'year': 2014,'month':11}).format('MMM');
        var startdata = moment().set({'year': 2014,'month': 11}).startOf('month').format('YYYY-MM-DD');
        var enddata = moment().set({'year': 2014,'month': 11}).endOf('month').format('YYYY-MM-DD');
        var selm='';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+lastmonth+"</a>";
        for(var i=10;i>= 0;i--){
          var submonth = moment().set({'year': 2014,'month':i}).format('MMM');
          var substart = moment().set({'year': 2014,'month':i}).startOf('month').format('YYYY-MM-DD');
          var subend = moment().set({'year': 2014,'month':i}).endOf('month').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);}
    })
//生成月
        var nowmonth = moment().format('MMM');
        var startdata = moment().startOf('month').format('YYYY-MM-DD');
        var enddata = moment().endOf('month').format('YYYY-MM-DD');
        var num = moment().format('M');
        var selm = '';
        selm="<a data-begin="+startdata+" data-end="+enddata+">"+nowmonth+"</a>";
        for(var i=1;i< num;i++){
          var submonth = moment().subtract(i, 'months').format('MMM');
          var substart = moment().startOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          var subend = moment().endOf('month').subtract(i, 'months').format('YYYY-MM-DD');
          selm = "<a data-begin="+substart+" data-end="+subend+">"+submonth+"</a>" + selm;
        }
        $('#selmonth').html(selm);
//生成本季、不年按钮
        var localys = moment().dayOfYear(1).format('YYYY-MM-DD');
        var localye = moment().dayOfYear(365).format('YYYY-MM-DD');
        var localseasons = moment().subtract(2, 'months').startOf('month').format('YYYY-MM-DD');
        var localseasone = moment().endOf('month').format('YYYY-MM-DD');
        $('#local-year').attr({"data-begin":localys,"data-end":localye});
        $('#local-season').attr({"data-begin":localseasons,"data-end":localseasone});
//月份滚动
        $('#month-right').click(function(a) {
              a.preventDefault();
              $('#selmonth').animate( { scrollLeft: '+=33.5' }, 100);
        });
        $('#month-left').click(function(b) {
              b.preventDefault();
              $('#selmonth').animate( { scrollLeft: '-=33.5' }, 100);
        });
//选中月份监听事件
        function loadDATA(option){
          $.ajax({
            url:"/reports.json?lei=支出",
            type:"get",
            dataType:"json",
            async:false,
            data: {begin:'2015-02-01',end:'2015-03-28'},
            success:function(result){
              if(result){
                option.legend.data=[];
                for(var j=0;j< result.length;j++){
                  option.legend.data.push({name:result[j].way});
                }
                option.series[0].data=[];
                for(var i=0;i< result.length;i++){
                  option.series[0].data.push({name:result[i].way,value:result[i].price});
                }
              }
            }
          })
          $(document).on('click','a[data-begin]',function(e){
              var $el = $(e.currentTarget);
              var begin = $el.data('begin');
              var end = $el.data('end');
              $.ajax({
                url:"/reports.json?lei=支出",
                type:"get",
                dataType:"json",
                async:false,
                data: {begin:begin,end:end},
                success:function(result){
                  if(result){
                    option.legend.data=[];
                    for(var j=0;j< result.length;j++){
                      option.legend.data.push({name:result[j].way});
                    }
                    option.series[0].data=[];
                    for(var i=0;i< result.length;i++){
                      option.series[0].data.push({name:result[i].way,value:result[i].price});
                    }
                    myChart.clear(option);
                    myChart.setOption(option);
                  }
                }
            })
        })
      }

      var option = {
      tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x:'left',
            y:'top'
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        series : [
            {
              name:'支出',
              type:'pie',
              center: ['50%', '60%'],
              radius: [0, '70%'],
              selectedMode:'single'
            }
        ],
        color:['#c476de','#14b8f5','#f424d4','#f4ca24','#ef6e51']
                  }
        loadDATA(option);
        myChart.setOption(option);
    }
);


</script>
  </div>
</div>
