<div class="btn-group btn-group-justified new-panel">
  <%= link_to '收支统计', table_path,:class=>"btn btn-primary" %>
  <a href="#" class="btn btn-primary active">年度报表</a>
  <%= link_to '对账单', matchtable_path,:class=>"btn btn-primary" %>
</div>

<div class="panel panel-default new-panel">
  <div class="panel-heading clearfix">
    <ul class="nav navbar-nav year-nav">
      <li>
        <select id="selyear"></select>
      </li>
      <li class="year-li" id='year-get'></li>
      <li id='year-pay'></li>
      <li id='year-yu'></li>
    </ul>
  </div>
  <div id="report-year" class="panel-body" style="height:400px">
    Panel content
    <script type="text/javascript">
    require.config({
      paths: {
          echarts: './js/dist'
      }
    });
    require(
      [
        'echarts',
        'echarts/chart/line',
        'echarts/chart/bar'
      ],
    function (ec) {
      var myChart = ec.init(document.getElementById('report-year'));
//生成年
      var nowyear = moment().format('YYYY');
      var lastyear = moment().subtract(1, 'years').format('YYYY');
      var sely='';
      sely = "<option value="+lastyear+">"+lastyear+"</option><option selected='selected' value="+nowyear+">"+nowyear+"</option>"
      $('#selyear').html(sely);
//选择年
    $('#selyear').html(sely).change(function() {
      var year = $(this).val();
      if(year=='2015'){

      }
    })
//年支出，年收入，年结余
      $.ajax({
            url:"/reports/yearall.json",
            type:"get",
            dataType:"json",
            async:false,
            data: {begin:'2015-01-01',end:'2015-12-31'},
            success:function(data){
              var yearget,yearpay,yearyu;
              for(var i=0;i< data.length;i++){
                if(data[i].lei=='收入'){
                        yearget=data[i].price;
                      }
                      else{
                        yearpay=data[i].price;
                      }
              }
              yearyu=yearget-yearpay;
              console.log(yearyu);
              $('#year-get').text("年收入："+yearget);
              $('#year-pay').text("年支出："+yearpay);
              $('#year-yu').text("年结余："+yearyu);
            }

      })

      function loadDATA(option){
          $.ajax({
            url:"/reports/yearbiao.json",
            type:"get",
            dataType:"json",
            async:false,
            data: {begin:'2015-01-01',end:'2015-12-31'},
            success:function(result){
              if(result){
                option.series[0].data=[];
                option.series[1].data=[];
                for(var i=1;i< 13;i++){
                  var income = 0,
                      outcome = 0;
                  for(var j=0;j< result.length;j++){
                    if(i==result[j].month){
                      if(result[j].lei=='收入'){
                        income=result[j].price;
                      }
                      else{
                        outcome=result[j].price;
                      }
                    }
                  }
                  option.series[0].data.push({value:income});
                  option.series[1].data.push({value:outcome});
                }
              }
            }
          })
        }


      var option = {
      tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['年收入','年支出']
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            series : [
                {
                    name:'年收入',
                    type:'bar'
                },
                {
                    name:'年支出',
                    type:'bar'
                }
            ],
        color:['#c476de','#14b8f5','#f424d4','#e6ef51','#ef6e51']
                  }
        loadDATA(option);
        myChart.setOption(option);
    }
);
      </script>
  </div>
</div>