<div class="btn-group btn-group-justified new-panel">
  <%= link_to '收支统计', table_path,:class=>"btn btn-primary" %>
  <a href="#" class="btn btn-primary active">年度报表</a>
  <%= link_to '对账单', matchtable_path,:class=>"btn btn-primary" %>
</div>

<div class="panel panel-default new-panel">
  <div class="panel-heading clearfix">
    <ul class="nav navbar-nav year-nav">
      <li>
        <select>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>
      </li>
      <li class="year-li"><p>年收入：</p></li>
      <li><p>年支出：</p></li>
      <li><p>年结余：</p></li>
    </ul>
  </div>
  <div id="year" class="panel-body" style="height:400px">
    Panel content
    <script type="text/javascript">
    require.config({
      paths: {
          echarts: './js/dist'
      }
    });
    require(
      [
        'echarts',
        'echarts/chart/line',
        'echarts/chart/bar'
      ],
    function (ec) {
      var myChart = ec.init(document.getElementById('year'));
      var option = {
      tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['年收入','年支出']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            series : [
                {
                    name:'年收入',
                    type:'bar',
                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
                },
                {
                    name:'年支出',
                    type:'bar',
                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                }
            ],
        color:['#c476de','#14b8f5','#f424d4','#e6ef51','#ef6e51']
                  }
        myChart.setOption(option);
    }
);
      </script>
  </div>
</div>