<div class="panel panel-primary new-panel">
  <div class="panel-heading">
    <h3 class="panel-title">收支情况</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>本周</th>
      <th>本月</th>
      <th>本年</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>收入</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>支出</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">消费比例</h3>
  </div>
  <div id="main" class="panel-body" style="height:400px">
    Panel content
    <script type="text/javascript">
    require.config({
      paths: {
          echarts: './js/dist'
      }
    });
    require(
      [
        'echarts',
        'echarts/chart/pie'
      ],
    function (ec) {
      var myChart = ec.init(document.getElementById('main'));
      var option = {
      tooltip : {
        trigger: 'them'
        },
        legend: {
            orient: 'vertical',
            x:'left',
            y:'top',
            data:['淘宝购物','日常消费','美容装扮','娱乐休闲','旅游观光']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        series : [
            {
              name:'支出',
              type:'pie',
              center: ['50%', '60%'],
              radius: [0, '70%'],
              selectedMode:'single',
              data:[
                  {value: 128 + 80,  name:'淘宝购物'},
                  {value: 64  + 160,  name:'日常消费'},
                  {value: 32  + 320,  name:'美容装扮'},
                  {value: 16  + 640,  name:'娱乐休闲'},
                  {value: 8  + 1280, name:'旅游观光'}]
            }
        ],
        color:['#c476de','#14b8f5','#f424d4','#f4ca24','#ef6e51']
                  }
        myChart.setOption(option);
    }
);

        // loadDATA(option);
        // function loadDATA(option){
        //     $.ajax({
        //        type : "post",
        //        async : false, //同步执行
        //        url : "bar.do",
        //        data : {},
        //        dataType : "json", //返回数据形式为json
        //        success : function(result) {
        //                   if (result) {
        //                          //初始化option.xAxis[0]中的data
        //                           option.xAxis[0].data=[];
        //                           for(var i=0;i<result.length;i++){
        //                             option.xAxis[0].data.push(result[i].name);
        //                           }
        //                           //初始化option.series[0]中的data
        //                           option.series[0].data=[];
        //                           for(var i=0;i<result.length;i++){
        //                             option.series[0].data.push(result[i].num);
        //                           }
        //                    }
        //                 }
        //     });
    </script>
  </div>
</div>