@import "_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "_bootswatch";

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body{
	background: image-url("bg.jpg");
}

.container{
	max-width: 980px;
	width: 100%;
	.navbar-brand{
		font-size: 30px;
	}
	.header-center{
		max-width: 500px;
		width: 100%;
		margin-left: 50px;
		li{
			width:100px;
			text-align: center;
			font-size: 18px;
		}
	}
}
.body-bg{
	background: image-url("conbg.gif") repeat-y;
	max-width: 998px;
	width: 100%;
	margin: 0 auto;
	margin-top: -21px;
	.field{
		width: 600px;
		margin: 0 auto;
		padding-top: 30px;
	}
	.form-input{
		width: 300px;
		margin-left: 10px;
		display: inline-block;
	}
	.btn-form{
		width: 150px;
		margin-left: 130px;
	}
}
.my-table{
	margin-top: 50px;
}
.table,th{
	text-align: center;
}
.footer{
	background: image-url("con_bottom.gif") no-repeat;
	max-width: 998px;
	width:100%;
	height: 18px;
	margin: 0 auto;
}
//shezhi
.new-panel{
	margin-top:20px;
}
.shezhi-table{
	text-align: center;
	th,td{
		text-align: center;
		width: 33.33%;
	}
}
//baobiao
.a-left{
	margin-left: 80px;
}
.btn-xs{
	width: 65px;
	margin-right: 8px;
}
#selmonth{
	display: inline-block;
	width: 168px;
	height: 20px;
	line-height: 20px;
	margin-bottom: -4px;
	overflow: hidden;
	a{
		padding-right: 9px;
		cursor: pointer;
	}
}
//yearbiao
.year-nav{
	height: 23px;
	li{
		margin-right: 25px;
	}
	.year-li{
		margin-left: 110px;
	}
}
//Users
label{
	width: 80px;
	text-align: center;
}
//page
	.index-table{
		width: 400px;
		height: 300px;
		background: rgba(255, 255, 255, 0.59);
		position: absolute;
		left: 0;top: 0;right: 0;bottom: 0;
		margin: auto;
		font-size: 25px;
		line-height: 40px;
		text-align: center;
		color: #4f4f4a;
		font-weight: bold;
	}
	.form-group{
		margin-top: 20px;
		font-size: 16px;
	}
	.form-control{
		width: 350px;
		display: inline-block;
	}